$bg_color: #16181b;
$color: #f3ede3;
$item_bg_color: #212429;
$hovered_item_bg_color: #1e2125;
$item_color: #f7d9ad;
$active_color: #40454b;
$focus_active_color: #555b63;
$selection_bg_color: #f7d9ad;
$selection_color: #16181b;